*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: #FFFFFF;
}

.beth{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #0D0D0D;
    font-size: 20px;
}

nav ul li a:hover{
    font-weight: bold;
    color: #2c2c2c;
}

.descricao{
    margin-left: 8%;
    margin-top: 13%;
}

.descricao h1{
    font-size: 60px;
    color: #0D0D0D;
    margin-bottom: 20px;
}

span{
    color: #2c2c2c;
}

.descricao p{
    color: #3d2b1f;
    line-height: 22px;
}

.descricao a{
    background:#0D0D0D;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .bethCarvalho{
    left: 75%;
}

.nome{
    font-size: 3rem;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: .15em;
    text-transform: uppercase;
    opacity: 0.5;
    color: #2c2c2c;
    text-align: center;
    padding: 3%;
}

.sec{
    padding: 10px 5%;
}

.produtos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
}

.produtos .card{
    width: 310px;
    background: #FFFFFF;
    box-shadow: 0 10px 20px #0D0D0D;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.produtos .card img1{
    height: 250px;
    width: 100%;
}

.produtos .card .desc{
    padding: 5px 20px;
    opacity: 0.8;
}

.produtos .card .title{
    font-weight: 850;
    font-size: 30px;
    color: #3d2b1f;
    padding: 0 20px;
}

.produtos .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.produtos .card .box .price{
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.produtos .card .box .btn{
    font-size: 18px;
    color: red;
    padding: 10px 18px;
    font-weight: 950;
    border: 1px solid #F63E4E;
    border-radius: 20px;
}

.produtos .card .box .btn:hover{
    cursor: pointer;
    background-color: #F63E4E;
    color: #FFFFFF;
}

.songs{
    padding: 1cm;
    margin-left: 7%;
}